html{
    background-image: url(image/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    display: flex;
    justify-content: center;
}
.f{
    background-color: rgba(137, 78, 247, 0.3);
    width: 300px;
    height: 50px;
    font-size: 24px;
    border: 0px;
}
h1{
    font-size: 48px;
    text-align: center;
    color:indigo;
}
#submit, #year{
    width: 300px;
    height: 50px;
    background-color: rgba(137, 78, 247, 0.3);
    font-size: 24px;
}
label{
    font-size: 24px;
    color: darkviolet;
    text-shadow: 1px 1px black;
}
form{
    padding: 2%;
    background-color: rgba(212, 166, 243, 0.3);
    color:indigo;
}
.paul > div{
    font-size: 24px;
}